services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    env_file: .env
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - backend-network

  inventory-service:
    build: .
    container_name: inventory-service
    env_file: .env
    ports:
      - "8001:8000"
    depends_on:
      - rabbitmq
    networks:
      - backend-network
